@import "https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap";
/*------------ header -------------*/
/*------------ navigation -------------*/
/*------------ slider -------------*/
/*------------ feature -------------*/
/*------------ cartegories -------------*/
/*.category-div .icon:before {
    background: url(../images/sprite.svg) 0px -35px;
    content: "";
    width: 74px;
    height: 70px;
    display: block;
    margin-top: 0px;
}*/
/*------------ trending -------------*/
/*------------ products -------------*/
/*------------ PLP -------------*/
/*------------ PDP -------------*/
/*------------ Mini cart -------------*/
/*------------ View cart -------------*/
/*------------ Shipping  -------------*/
/*------------ Account and others -------------*/
/*.block.block-customer-login:before {
    content: "";
    background: url('../images/pdp-back.jpg');
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}*/
/*------------ brand section  -------------*/
/*------------ footer section  -------------*/
/*------------ Media Query  -------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  font-family: "Arsenal", sans-serif;
  letter-spacing: 0.1em;
}

ul {
  margin: 0;
}
ul > li {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ol > li {
  margin-bottom: 0;
}

.page-main {
  max-width: 1440px;
}
.page-main > .page-title-wrapper .page-title {
  font-size: 30px;
}
.page-main .block {
  margin-bottom: 20px;
}

._keyfocus *:focus {
  box-shadow: 0 0 3px 1px #bfbfbf;
}

input:not([disabled]):focus {
  box-shadow: 0 0 3px 1px #bfbfbf;
}

textarea:not([disabled]):focus {
  box-shadow: 0 0 3px 1px #bfbfbf;
}

select:not([disabled]):focus {
  box-shadow: 0 0 3px 1px #bfbfbf;
}

input[type=text] {
  border: 1px solid #999999;
  border-radius: 5px;
}

input[type=password] {
  border: 1px solid #999999;
  border-radius: 5px;
}

input[type=url] {
  border: 1px solid #999999;
  border-radius: 5px;
}

input[type=tel] {
  border: 1px solid #999999;
  border-radius: 5px;
}

input[type=search] {
  border: 1px solid #999999;
  border-radius: 5px;
}

input[type=number] {
  border: 1px solid #999999;
  border-radius: 5px;
}

input[type*=date] {
  border: 1px solid #999999;
  border-radius: 5px;
}

input[type=email] {
  border: 1px solid #999999;
  border-radius: 5px;
}

.page-header {
  background-color: #fff;
}

.header.content {
  max-width: 1440px;
  text-align: center;
  padding: 20px;
}
.header.content .header.links > li {
  display: none;
}
.header.content .header.links > li.link.authorization-link {
  display: block;
}
.header.content .header.links > li.link.authorization-link a {
  text-indent: -2000px;
  background: url(../images/sprite.svg) -2px 0px;
  height: 27px;
  width: 24px;
  display: block;
  margin-top: 5px;
}

.block-search {
  float: none;
  width: 350px;
  display: inline-block;
}
.block-search input {
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
  padding: 17.5px;
  font-family: "Arsenal", sans-serif;
  letter-spacing: 0.1em;
}
.block-search .control {
  margin-top: 0px;
  border-top: none;
}
.block-search .action.search > span {
  color: #fff;
  border: 0;
  clip: inherit;
  height: 35px;
  margin: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  width: 45px;
  background-color: #0D5B93;
  right: -10px;
  border-radius: 0 5px 5px 0;
}
.block-search .action.search > span:before {
  background: url(../images/sprite.svg) -100px 0px;
  content: "";
  width: 24px;
  height: 22px;
  display: block;
  margin-top: -2px;
}
.block-search .action.search:before {
  content: "";
}
.block-search .action.search[disabled] {
  opacity: 1;
}
.block-search .label:before {
  background: url(../images/sprite.svg) -369px 2px;
  content: "";
  width: 24px;
  height: 26px;
  display: block;
  margin-top: 0px;
}

.logo {
  margin: 10px 0 0;
}

.header.links {
  display: inline-block;
  float: right;
}

.header-wishlist {
  display: inline-block;
  position: relative;
  float: right;
  margin-left: 25px;
}
.header-wishlist a:before {
  background: url(../images/sprite.svg) -35px 0px;
  content: "";
  width: 28px;
  height: 28px;
  display: block;
  margin-top: 5px;
}

.minicart-wrapper {
  padding: 3px 3px 0;
  margin-left: 25px;
}
.minicart-wrapper .action.showcart {
  background-color: #EDF10B;
  border-radius: 5px;
  padding: 4px 5px;
}
.minicart-wrapper .action.showcart:before {
  background: url(../images/sprite.svg) -67px 0px;
  content: "";
  width: 26px;
  height: 23px;
  display: block;
}
.minicart-wrapper .action.showcart .counter.qty {
  background: #000000;
  top: -10px;
  position: absolute;
}
.minicart-wrapper .action.showcart.active:before {
  color: transparent;
}
.minicart-wrapper .block-minicart:before {
  border-color: transparent;
}
.minicart-wrapper .block-minicart:after {
  border-color: transparent;
}
.minicart-wrapper .action.close {
  right: 5px;
  top: 5px;
}
.minicart-wrapper .action.close:before {
  content: "";
  background: url(../images/sprite.svg) -403px -1px;
  width: 22px;
  height: 22px;
}
.minicart-wrapper .action.edit:before {
  content: "";
  background: url(../images/sprite.svg) -432px -1px;
  width: 16px;
  height: 19px;
}
.minicart-wrapper .action.delete:before {
  content: "";
  background: url(../images/sprite.svg) -454px -1px;
  width: 16px;
  height: 19px;
}
.minicart-wrapper .product-image-photo {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  filter: none;
  border-radius: 5px;
  padding: 0px;
}

.nav-toggle {
  top: 17px;
}

.nav-sections {
  background: linear-gradient(180deg, #0D5B93 0%, #0B71BB 100%);
}

.navigation {
  max-width: 1440px;
  background: linear-gradient(180deg, #0D5B93 0%, #0B71BB 100%);
  padding: 0 10px;
}
.navigation ul {
  padding: 0 10px;
}
.navigation .level0 > .level-top {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.navigation .level0 > .level-top:hover {
  color: #d1d1d1;
}
.navigation .level0.parent > .level-top {
  padding-right: 12px;
}
.navigation .level0.parent > .level-top > .ui-menu-icon {
  display: none;
}
.navigation .level0.always-active a {
  background-color: #EDF10B;
  color: #000;
}
.navigation .level0.always-active:hover a {
  color: #444;
}

.footer.content {
  max-width: 1440px;
}
.footer.content .links a {
  color: #000000;
  font-size: 16px;
}

.slider-section .slider-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-section .slider-div .slider-cont {
  max-width: 73.9%;
  min-height: 100%;
  padding-right: 10px;
}
.slider-section .slider-div .slide-image .cont {
  position: absolute;
  top: 20%;
  left: 3%;
}
.slider-section .slider-side-image {
  max-width: 26.1%;
}
.slider-section .slider-side-image img {
  width: 100%;
  display: block;
}
.slider-section .slider-side-image img:nth-child(1) {
  margin-bottom: 10px;
}
.slider-section .slide-image {
  position: relative;
}
.slider-section .slide-image img {
  width: 100%;
}
.slider-section .slide-image .cont p {
  color: #fff;
  border-radius: 5px;
  background-color: #FF0000;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.slider-section .slide-image .cont h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 30px;
}
.slider-section .slide-image .cont span {
  font-size: 18px;
  color: #000;
  background-color: #fff;
  display: inline-block;
  padding: 5px 30px 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
}
.slider-section .slide-image .cont span:before {
  background: url(../images/sprite.svg) -130px -2px;
  content: "";
  width: 24px;
  height: 26px;
  display: block;
  margin-top: 5px;
  position: absolute;
  top: 6px;
  right: 3px;
}

.slider-cont .owl-dots {
  position: absolute;
  left: 30px;
  bottom: 20px;
}
.slider-cont .owl-theme .owl-dots .owl-dot.active span {
  background: #000000;
}
.slider-cont .owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 5px;
  background: #a0a0a0;
}

.feature-flex-perant {
  display: flex;
}

.feature-flex-div {
  flex-basis: 25%;
  display: flex;
  align-items: center;
}
.feature-flex-div .icon {
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  border: 2px solid #0064AC;
}
.feature-flex-div .icon:before {
  content: "";
  width: 28px;
  height: 22px;
  display: block;
  margin-top: 0px;
}
.feature-flex-div .icon.shipping:before {
  background: url(../images/sprite.svg) -156px 0px;
}
.feature-flex-div .icon.return:before {
  background: url(../images/sprite.svg) -188px 0px;
}
.feature-flex-div .icon.payement:before {
  background: url(../images/sprite.svg) -219px 0px;
}
.feature-flex-div .icon.support:before {
  background: url(../images/sprite.svg) -249px 0px;
}
.feature-flex-div .cont {
  color: #fff;
  margin-left: 20px;
}
.feature-flex-div p {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.feature-flex-div span {
  font-size: 16px;
  color: #C1C1C1;
}

.feature-section {
  padding: 30px 0;
  margin-top: 26px;
  background: #2E2E2E;
}

.categories-section {
  margin-bottom: 30px;
}

.category-div {
  position: relative;
  position: relative;
  background: #FFF4C2;
  display: inline-block;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.category-div p {
  position: absolute;
  bottom: -15px;
  margin-bottom: 0;
  background-color: #4F4F4F;
  color: #fff;
  border-radius: 5px;
  padding: 6px 10px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 80%;
  font-size: 16px;
}
.category-div:before {
  content: "";
  border: 5px solid #ffffff;
  width: 94.5%;
  height: 100%;
  border-radius: 54%;
  position: absolute;
  left: 0;
  top: 0;
}

.category-perant {
  text-align: center;
}

.content-heading {
  text-align: center;
}
.content-heading h2 {
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.content-heading span {
  color: #0D5B93;
  font-size: 36px;
}

.trending-section {
  background: url(../images/trending-back.jpg);
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 25px;
}

.trending-flex {
  display: flex;
  flex-wrap: wrap;
}

.trending-div {
  width: 48%;
  display: flex;
  background: rgba(255, 255, 255, 0.4196078431);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}
.trending-div div {
  flex: 1 1;
  background: #FFFFFF;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.trend-img img {
  height: 100%;
  width: 100%;
}

.trend-cont {
  padding: 14px;
  text-align: center;
}
.trend-cont a {
  color: #000;
}
.trend-cont a:hover {
  text-decoration: none;
}
.trend-cont p {
  font-size: 15px;
  line-height: 26px;
}

.products-grid .product-item-info:hover {
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}
.products-grid .product-item-info:not(:hover):not(.active) .product-item-inner {
  clip: inherit;
  height: auto;
  overflow: inherit;
  padding: 0;
  position: inherit;
  width: auto;
  border: none;
  box-shadow: none;
}
.products-grid .product-item-actions {
  margin: 0;
  display: flex;
  justify-content: center;
}
.products-grid .product-item-inner {
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  position: static;
}

.block.widget .products-grid .product-item .product-item-inner {
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  position: static;
}
.block.widget .product-item-info {
  text-align: center;
}

.page-layout-1column .block.widget .products-grid .product-item {
  width: 100%;
}
.page-layout-1column .block.widget .products-grid .product-item .product-item-inner {
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  position: static;
}
.page-layout-1column .product.media {
  width: 47%;
}
.page-layout-1column .product-info-main {
  width: 50%;
}

.swatch-option.text {
  line-height: 11px;
}

.product-item .tocart {
  background: linear-gradient(180deg, #0D5B93 0%, #0B71BB 100%);
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
}
.product-item .action.towishlist:before {
  background: url(../images/sprite.svg) -280px 0px;
  content: "";
  width: 20px;
  height: 18px;
}
.product-item .price-box {
  margin: 10px 0 10px;
  text-align: center;
}
.product-item .price-box .price {
  font-size: 16px;
}

.product-item-actions .actions-primary + .actions-secondary > .action {
  background: linear-gradient(180deg, #0D5B93 0%, #0B71BB 100%);
  border-radius: 5px;
  line-height: 36px;
  margin-left: 10px;
}

.product-item-name {
  text-align: center;
  margin: 0;
}
.product-item-name > a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.product-image-photo {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.sidebar.sidebar-main .block.filter {
  background: #F9F9F9;
}

.products {
  margin: 20px 0;
}

.page-layout-2columns-left .nav-sections {
  margin-bottom: 0;
}
.page-layout-2columns-left .products {
  margin: 0px 0;
}

.filter-options-content a {
  color: #000000;
}

.filter-options-title {
  padding: 10px 40px 10px 10px;
}
.filter-options-title:hover {
  background: #EDF10B;
}

.filter-options-item {
  padding-bottom: 0;
}

.rating-summary .rating-result > span:before {
  color: #eb8d1e;
}

.product-info-main .stock.available {
  color: #23ab40;
}
.product-info-main .stock.unavailable {
  color: #f33838;
}
.product-info-main .page-title-wrapper h1 {
  font-size: 28px;
  font-weight: 600;
}
.product-info-main .swatch-option.text {
  line-height: 22px;
  min-width: 34px;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #E0E0E0;
  padding: 4px 10px;
  border-radius: 5px;
}
.product-info-main .swatch-option {
  height: 32px;
  min-width: 34px;
  border-radius: 5px;
}
.product-info-main .product-add-form {
  padding-top: 0px;
}
.product-info-main .product-info-price {
  margin-bottom: 0;
}

.product-info-price .price-box .price-container .price {
  font-size: 26px;
  color: #000;
}

.action.primary {
  background: linear-gradient(180deg, #0D5B93 0%, #0B71BB 100%);
  border-radius: 5px;
}

.box-tocart .action.tocart {
  width: auto;
  padding: 8px 30px;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
}
.box-tocart .input-text.qty {
  border-radius: 5px;
}

.product.data.items > .item.title > .switch {
  border: none;
  background: none;
  transition: cubic-bezier(0.01, 0.93, 0.11, 1.12) 0.3s;
}
.product.data.items > .item.title > .switch:hover {
  border-bottom: 3px solid #0c609c;
}
.product.data.items > .item.content {
  border: none;
  background: #fff;
}
.product.data.items > .item.title.active > .switch {
  border-bottom: 3px solid #0c609c;
}

.catalog-product-view {
  background-color: #F8F8F5;
}

.product.media:before {
  content: "";
  background: url("../images/pdp-back.jpg");
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.minicart-items .item-qty {
  width: 50px;
  border-radius: 5px;
  height: 25px;
  background: #efefef;
}
.minicart-items .product-item-details {
  padding-left: 90px;
  text-align: left;
}
.minicart-items .product-item-name {
  text-align: left;
}
.minicart-items .product-item-name a {
  color: #000000;
  font-weight: 600;
}
.minicart-items .product-item:not(:first-child) {
  border-top: 1px solid #f1f1f1;
}

.minicart-wrapper.active .block-minicart {
  top: -23px;
  right: -29px;
  border: none;
}
.minicart-wrapper.active .block-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}

.block-minicart .items-total {
  margin: 0 10px 15px;
  text-align: center;
  font-size: 16px;
}
.block-minicart .subtotal {
  order: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-minicart .block-content > .actions {
  order: 2;
  margin-top: 5px;
}
.block-minicart .block-content > .actions > .primary {
  text-align: center;
  margin: 0 10px 10px;
}
.block-minicart .block-content > .actions > .primary .action.primary {
  display: inline-block;
  width: auto;
  line-height: 1;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 16px;
}

.cart.table-wrapper .product-item-name {
  margin: 0;
  text-align: left;
  color: #000;
  font-weight: 600;
}
.cart.table-wrapper .col.qty {
  font-size: 16px;
  color: #000;
}
.cart.table-wrapper .col.qty .input-text {
  height: 30px;
  margin-top: 0;
  width: 50px;
  border-radius: 5px;
}
.cart.table-wrapper .col.price {
  font-size: 16px;
  color: #000;
}
.cart.table-wrapper .col.price .price-excluding-tax .price {
  font-weight: 500;
  color: #000;
}
.cart.table-wrapper .actions-toolbar {
  min-height: 30px;
}
.cart.table-wrapper .actions-toolbar > .action-edit:before {
  content: "";
  background: url(../images/sprite.svg) -432px -1px;
  width: 16px;
  height: 19px;
}
.cart.table-wrapper .actions-toolbar > .action-delete:before {
  content: "";
  background: url(../images/sprite.svg) -454px -1px;
  width: 16px;
  height: 19px;
}
.cart.table-wrapper .col.subtotal {
  font-size: 16px;
  color: #000;
}
.cart.table-wrapper .cart > .item {
  border-bottom: 1px solid #e9e9e9;
}

.cart-summary {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
}
.cart-summary .checkout-methods-items .action.primary.checkout {
  display: inline-block;
  width: auto;
  line-height: 1;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 16px;
}

.cart.main.actions button {
  background: #000;
  color: #fff;
  border-radius: 5px;
}

.checkout-container {
  margin: 0;
}
.checkout-container input[type=email] {
  border: 1px solid #999999;
  border-radius: 5px;
}
.checkout-container input[type=text] {
  border: 1px solid #999999;
  border-radius: 5px;
}
.checkout-container select {
  border: 1px solid #999999;
  border-radius: 5px;
}

.opc-progress-bar-item._active:before {
  border-color: #0B71BB;
  background: linear-gradient(180deg, #0D5B93 0%, #0B71BB 100%);
}
.opc-progress-bar-item._active > span:before {
  border-color: #0B71BB;
  background: linear-gradient(180deg, #0D5B93 0%, #0B71BB 100%);
}
.opc-progress-bar-item._active > span:after {
  border-color: #0B71BB;
}

.opc-block-summary {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
}

.opc-estimated-wrapper {
  margin: 0;
}

.opc-wrapper .step-content {
  margin: 0;
}
.opc-wrapper .opc > li {
  margin: 0 30px;
}
.opc-wrapper .form-login {
  padding-bottom: 0;
}
.opc-wrapper .shipping-address-item.selected-item {
  border-color: #0B71BB;
  border-radius: 10px;
}
.opc-wrapper .shipping-address-item.selected-item:after {
  background: #0b71bb;
  border-radius: 0 5px 0 0;
  right: -1px;
  top: -1px;
}

.fieldset.login input[type=email] {
  border-radius: 5px;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.fieldset.login input[type=password] {
  border-radius: 5px;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.block.block-customer-login {
  background-color: #f7f7f7;
  position: relative;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
}

.message.info {
  border-radius: 8px;
}

.block-collapsible-nav .item.current a {
  border-color: #0B71BB;
}
.block-collapsible-nav .item.current > strong {
  border-color: #0B71BB;
}

.brandlogo {
  background-color: #fff;
  margin-top: 5px;
}

.brand-section {
  background: url(../images/brand-section.jpg);
  background-position: center;
  background-repeat: repeat;
  padding-bottom: 25px;
}

.content-heading.white h2 {
  color: #fff;
}
.content-heading.white span {
  color: #fff;
}

.owl-carousel .owl-nav button.owl-prev {
  background: #000;
  color: #fff;
  border: none;
  padding: 7px !important;
  font-size: 0;
  line-height: 0;
  border-radius: 5px;
}
.owl-carousel .owl-nav button.owl-prev:before {
  background: url(../images/sprite.svg) -305px -1px;
  content: "";
  width: 17px;
  height: 14px;
  display: block;
}
.owl-carousel .owl-nav button.owl-next {
  background: #FF0000;
  color: #fff;
  border: none;
  padding: 7px !important;
  font-size: 0;
  line-height: 0;
  border-radius: 5px;
}
.owl-carousel .owl-nav button.owl-next:before {
  background: url(../images/sprite.svg) -327px -1px;
  content: "";
  width: 22px;
  height: 20px;
  display: block;
}

.owl-theme .owl-nav {
  margin-top: 0;
  position: absolute;
  top: -65px;
  right: 5px;
}

.brand-cont {
  margin-bottom: 20px;
}

.copyright {
  background-color: #121212;
}

.block.newsletter .action.subscribe {
  background: linear-gradient(180deg, #0D5B93 0%, #0B71BB 100%);
  border-radius: 0 5px 5px 0;
}
.block.newsletter input {
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
}

.footer-logo img {
  margin-bottom: 15px;
}

.page-footer {
  background: #f7f7f7;
}

@media only screen and (max-width: 1199px) {
  .trend-cont p {
    font-size: 14px;
    line-height: 20px;
  }
  .trend-cont img {
    max-width: 70px;
  }
  .trend-cont h2 {
    font-size: 20px;
    margin: 10px 0 20px;
  }
  .trending-div {
    padding: 15px;
  }
  .slider-section .slide-image .cont h1 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 24px;
  }
  .slider-section .slide-image .cont span {
    font-size: 14px;
  }
  .slider-section .slide-image .cont span:before {
    margin-top: 2px;
  }
}
@media only screen and (max-width: 1039px) {
  .feature-flex-perant {
    flex-wrap: wrap;
  }
  .feature-flex-div {
    flex-basis: 50%;
  }
  .feature-flex-div:nth-child(-n+2) {
    margin-bottom: 25px;
  }
  .slider-section .slider-div .slide-image .cont {
    top: 10%;
  }
  .trending-div {
    width: 47%;
  }
  .trend-cont p {
    font-size: 12px;
    line-height: 18px;
  }
  .trend-cont h2 {
    font-size: 18px;
    margin: 10px 0 10px;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    margin: 10px 0 0 40px;
  }
  .block-search {
    margin-top: 5px;
    width: auto;
    margin-right: 15px;
  }
  .trending-flex {
    justify-content: center;
  }
  .trending-div {
    width: 70%;
  }
  .minicart-wrapper {
    margin-top: 0px;
  }
  .slider-section .slider-div .slide-image .cont {
    top: 10%;
  }
  .slider-section .slider-div .slider-cont {
    max-width: 74.5%;
  }
  .slider-section .slide-image .cont h1 {
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 15px;
  }
  .slider-section .slide-image .cont p {
    border-radius: 3px;
    padding: 3px 6px;
    margin-bottom: 10px;
    font-size: 9px;
  }
  .slider-section .slide-image .cont span {
    font-size: 10px;
    padding: 4px 25px 3px 6px;
  }
  .slider-section .slide-image .cont span:before {
    background: url(../images/sprite.svg) -351px 0px;
    width: 15px;
    height: 11px;
    margin-top: 1px;
    top: 4px;
  }
  .slider-section .slider-side-image {
    max-width: 25.5%;
  }
  .slider-cont .owl-dots {
    left: 10px;
    bottom: 10px;
  }
  .slider-cont .owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 4px;
  }
  .header.content {
    text-align: right;
    padding: 15px;
  }
  .feature-flex-div .icon {
    padding: 10px;
  }
  .feature-flex-div .icon:before {
    transform: scale(0.8);
  }
  .feature-flex-div p {
    font-size: 14px;
  }
  .feature-flex-div span {
    font-size: 12px;
  }
  .owl-theme .owl-nav {
    transform: scale(0.7);
  }
  .page-layout-2columns-left .page-header {
    margin-bottom: 0;
  }
  .page-products .columns {
    padding-top: 20px;
  }
  .page-products .product-item-info {
    padding: 5px;
  }
  .page-layout-1column .product.media {
    width: 100%;
  }
  .page-layout-1column .product-info-main {
    width: 100%;
  }
  .minicart-wrapper.active .block-minicart {
    top: -18px;
  }
  .columns .column.main {
    padding-bottom: 20px;
  }
  .opc-wrapper {
    margin: 0;
  }
}
@media only screen and (max-width: 660px) {
  .trending-div {
    width: 90%;
  }
  .content-heading h2 {
    font-size: 18px;
  }
  .content-heading span {
    font-size: 26px;
  }
  .column.main .product-item {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .slider-cont .owl-dots {
    left: 10px;
    bottom: 0px;
  }
  .logo {
    margin: 13px 0 0 30px;
  }
  .logo img {
    width: 120px;
  }
  .slider-section .slider-div .slider-cont {
    max-width: 100%;
    padding-right: 0px;
  }
  .slider-section .slider-side-image {
    display: none;
  }
  .slider-section .slide-image .cont h1 {
    margin-bottom: 10px;
  }
  .feature-flex-perant {
    flex-direction: column;
  }
  .feature-flex-div:nth-child(-n+3) {
    margin-bottom: 25px;
  }
  .feature-flex-div .cont {
    margin-left: 15px;
  }
  .header.links:before {
    transform: scale(0.7);
  }
  .header-wishlist {
    margin-left: 10px;
  }
  .header-wishlist:before {
    transform: scale(0.7);
  }
  .minicart-wrapper {
    padding: 0;
    margin-left: 10px;
  }
  .minicart-wrapper .action.showcart {
    border-radius: 4px;
    padding: 1px;
    margin-top: 5px;
  }
  .minicart-wrapper .action.showcart:before {
    transform: scale(0.7);
  }
  .block-search {
    margin-right: 0px;
  }
  .block-search .label:before {
    transform: scale(0.7);
  }
  .nav-toggle {
    top: 21px;
  }
  .nav-toggle:before {
    font-size: 22px;
  }
  .trending-div {
    width: 100%;
    padding: 12px;
    margin: 0 0 10px 0;
  }
  .trend-cont h3 {
    margin: 10px 0;
  }
  .owl-theme .owl-nav {
    margin-top: 20px;
    position: static;
  }
  .category-div {
    padding: 30px;
  }
  .category-div p {
    font-size: 10px;
  }
  .product-item .tocart {
    font-size: 12px;
    padding: 7px 12px;
  }
  .product-item-actions .actions-primary + .actions-secondary > .action {
    line-height: 28px;
    margin-left: 7px;
  }
}
@media only screen and (max-width: 360px) {
  .trend-cont p {
    font-size: 11px;
    line-height: 100%;
  }
  .trend-cont h2 {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */
/* ###custom styles### */

/* .pagebuilder-mobile-only {
  display: none !important;
}
.popular-product-slides .product-items,.suggest-product-slides .product-items{
  display:flex!important;
}
.popular-product-slides .product-items .product-item,.suggest-product-slides .product-items .product-item{
  padding-left: 15px!important;
}
.popular-product-slides .product-items .product-item .tocompare,.suggest-product-slides .product-items .product-item .tocompare  {
  display: none !important;
}
.popular-product-slides .product-items .product-item .product-reviews-summary,.suggest-product-slides .product-items .product-item .product-reviews-summary {
  display: none !important;
} */