<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Logger and Handler -->
    <type name="Eglobe\FailedLogin\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Eglobe\FailedLogin\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">failedlogin</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Eglobe\FailedLogin\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Eglobe\FailedLogin\Plugin\Observer\FailedLogin">
        <arguments>
            <argument name="logger" xsi:type="object">Eglobe\FailedLogin\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="failedattempt_Login_Plugin" type="Eglobe\FailedLogin\Plugin\Observer\FailedLogin" sortOrder="1"/>
    </type>
</config>



