<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Eglobe\OutofstockCronjob\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            <argument name="fileName" xsi:type="string">/var/log/outofstock.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Eglobe\OutofstockCronjob\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">OutofstockCronjob outofstock</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Eglobe\OutofstockCronjob\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Eglobe\OutofstockCronjob\Cron\OutofstockProducts">
        <arguments>
            <argument name="logger" xsi:type="object">Eglobe\OutofstockCronjob\Logger\Logger</argument>
        </arguments>
    </type>
</config>
